In [9]:
import os

import dotenv
from tinkoff.invest import Client
from tinkoff.invest.constants import INVEST_GRPC_API_SANDBOX
import pandas as pd
import bs4 as bs

dotenv.load_dotenv('tbank.env')
TOKEN = os.getenv('TOKEN')

In [5]:
def evaluation_algorithm() -> int:
    pass

In [6]:
with Client(TOKEN, target=INVEST_GRPC_API_SANDBOX) as client:
    # print(client.users.get_info())  # add user account detail info input
    shares = client.instruments.shares().instruments
    shares = [i for i in shares if i.currency == "rub"]

In [8]:
TARGET_COLUMNS = ["figi", "ticker", "lot", "name", "sector"]
shares_df = pd.DataFrame(columns=TARGET_COLUMNS)
for i, share in enumerate(shares):
    shares_df.loc[i] = pd.Series(
        (share.figi, share.ticker, share.lot, share.name, share.sector), TARGET_COLUMNS
    )

shares_df.head()

,figi,ticker,lot,name,sector
0,TCS007940839,KZIZP,1,Красногорский завод им. С.А. Зверева - привиле...,other
1,TCS00A108ZR8,DATA,1,Группа Аренадата,it
2,BBG000FWGSZ5,IRKT,100,Яковлев,industrials
3,BBG004S68CV8,VSMO,1,ВСМПО-АВИСМА,materials
4,BBG000Q7ZZY2,UNAC,1000,Объединенная авиастроительная корпорация,industrials